__Question 1__

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()
b()
b()
a

6

Here, the output suggests, that the b() is succesfully run thrice, adding 2 everytime it is called, chaging the value of varible a => 0.

a = 0 (called globally)
Whenever b() is called, 2 is added to 
Global ‘a’
b()
Value of a = 2
b()
Value of a = 4
b()
Value of a = 6
a
prints value of a
    6

**Question 2**

In [2]:
def fileLength(filename):
    try:
        
        file = open(filename)
        read = file.read()
        length = len(read)
        if(length):
            print(length)
        file.close()
        return length
    except FileNotFoundError:
        print(f"File '{filename}' not found.")
    except IsADirectoryError:
        print(f"{filename} is a directory, not a file.")
    except Exception as e:
        print(f"An error occurred while processing {filename}: {e}")

fileLength("Midterm.py")
fileLength("Course Contract.docx")

55
File 'Course Contract.docx' not found.

**Question 3**

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self,item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)
        
class Kangaroo(Marsupial):
    def __init__(self,x=0,y=0):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
k = Kangaroo(0,0)
print(k)

k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

**Question 4**

In [5]:
def collatz(x):
    if(x<=0):
        print("please provide positive integer")
    else:
        print(x)
        if x == 1:
            return
        
        if x % 2 == 0:
            x = x // 2
            return collatz(x)
        
        else:
            x = (3*x) + 1
            return collatz(x)

collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

**Question 5**

In [6]:
def binary(n):
    if n < 0:
        print("please enter non-negative interger")
    elif n > 1:
        binary(n // 2)  
    print(n % 2, end='')

binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

**Question 8**

In [7]:
import sqlite3

conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS weather_data (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
]

cursor.executemany('INSERT INTO weather_data VALUES (?, ?, ?, ?, ?)', data)
conn.commit()

queries = {
    "SELECT Temperature FROM weather_data;":"All the temperature data",
    "SELECT DISTINCT City FROM weather_data;":"All the cities, but without repetition",
    "SELECT * FROM weather_data WHERE Country = 'India';":"All the records for India",
    "SELECT * FROM weather_data WHERE Season = 'Fall';":"All the Fall records",
    "SELECT City, Country, Season FROM weather_data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400;":"The city, country, and season for which the average rainfall is between 200 and 400 millimeters",
    "SELECT City, Country FROM weather_data WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC;":"The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order",
    "SELECT City, SUM(Rainfall) AS Total_Rainfall FROM weather_data WHERE City = 'Cairo' GROUP BY City;":"The total annual rainfall for Cairo",
    "SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather_data GROUP BY Season;":"The total rainfall for each season"
}


for query, description in queries.items():
    cursor.execute(query)
    result = cursor.fetchall()
    print(description)
    if result:
        col_names = [col[0] for col in cursor.description]
        header = "\t".join(col_names)  # Tab-separated header
        print(header)
        print("-" * 40)
        for row in result:
            print("\t".join(map(str, row)))
        print()
    else:
        print("No results found.")
    print()

conn.close()

All the temperature data
Temperature
----------------------------------------
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2


All the cities, but without repetition
City
----------------------------------------
Mumbai
London
Cairo


All the records for India
City	Country	Season	Temperature	Rainfall
----------------------------------------
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0


All the Fall records
City	Country	Season	Temperature	Rainfall
----------------------------------------
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Fall	10.4	218.5
Cairo	Egypt	Fall	22.2	4.5


The city, country, and season for which the average rainfall is between 200 and 400 millimeters
City	Country	Season
----------------------------------------
London	United Kingdom	Fall
London	United Kingdom	Winter
Mumbai	India	Fall


The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
City	Country
----------------------------------------
Cairo	Egypt
Mumbai	India


The total annual rainfall for Cairo
City	Total_Rainfall
----------------------------------------
Cairo	524.4000000000002


The total rainfall for each season
Season	Total_Rainfall
----------------------------------------
Fall	10811.0
Spring	3653.699999999998
Summer	32423.5
Winter	4371.899999999999

**Question 9**

In [8]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
print("words:", words,"\n")
uppercase_words = [word.upper() for word in words]
print("[a]", uppercase_words)

lowercase_words = [word.lower() for word in words]
print("[b]", lowercase_words)

word_lengths = [len(word) for word in words]
print("[c]", word_lengths)

word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print("[d]", word_info)

long_words = [word for word in words if len(word) >= 4]
print("[e]", long_words)

words: ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[a] ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
[b] ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[c] [3, 5, 5, 3, 5, 4, 3, 4, 3]
[d] [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
[e] ['quick', 'brown', 'jumps', 'over', 'lazy']